body{
    background-color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    position:relative;
    width: 900px;
    top: 50px;
    left: 5%;
}
em{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
    font-style: normal;
}
.td_em{
    width: 85px;
    text-align: right;    
}
.checkbox{
    width: 15px;
}
.null{
    /* 用空白格压缩checkbox的长度 */
    width: 10px;
}
.necessary_flag{
    color: red;
    font-size: small;
}
option{
    width: em;
}
textarea{
    width: 19.5em;
}
input{
    width: 20em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:small;
}
input::placeholder{
    font-size: xx-small;
    text-align: right;
}
textarea::placeholder{
    font-size: xx-small;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    font-size: xx-small;
}